@import "$lib/style/imports.css";
@import "tailwindcss";
@import "$lib/style/index.css";

@theme {
    --color-primary-0: #000000;
    --color-primary-4: #240300;
    --color-primary-5: #290400;
    --color-primary-6: #2d0400;
    --color-primary-10: #3c0700;
    --color-primary-12: #430900;
    --color-primary-15: #4e0c00;
    --color-primary-17: #560f00;
    --color-primary-20: #611200;
    --color-primary-22: #691400;
    --color-primary-25: #751700;
    --color-primary-30: #891d00;
    --color-primary-35: #9e2300;
    --color-primary-40: #b42900;
    --color-primary-50: #e03500;
    --color-primary-60: #ff562b;
    --color-primary-70: #ff8b6d;
    --color-primary-80: #ffb4a2;
    --color-primary-90: #ffdad2;
    --color-primary-92: #ffe2db;
    --color-primary-94: #ffe9e4;
    --color-primary-95: #ffede9;
    --color-primary-96: #fff1ed;
    --color-primary-98: #fff8f6;
    --color-primary-99: #fffbff;
    --color-primary-100: #ffffff;

    --color-secondary-0: #000000;
    --color-secondary-4: #1c0804;
    --color-secondary-5: #200b06;
    --color-secondary-6: #230d08;
    --color-secondary-10: #2c1510;
    --color-secondary-12: #311913;
    --color-secondary-15: #381f19;
    --color-secondary-17: #3d231d;
    --color-secondary-20: #442a23;
    --color-secondary-22: #492e27;
    --color-secondary-25: #51342d;
    --color-secondary-30: #5d4038;
    --color-secondary-35: #6a4b43;
    --color-secondary-40: #77574f;
    --color-secondary-50: #926f66;
    --color-secondary-60: #ae887f;
    --color-secondary-70: #caa299;
    --color-secondary-80: #e7bdb3;
    --color-secondary-90: #ffdad2;
    --color-secondary-92: #ffe2db;
    --color-secondary-94: #ffe9e4;
    --color-secondary-95: #ffede9;
    --color-secondary-96: #fff1ed;
    --color-secondary-98: #fff8f6;
    --color-secondary-99: #fffbff;
    --color-secondary-100: #ffffff;

    --color-tertiary-0: #000000;
    --color-tertiary-4: #140d00;
    --color-tertiary-5: #171000;
    --color-tertiary-6: #1a1200;
    --color-tertiary-10: #231a00;
    --color-tertiary-12: #281e00;
    --color-tertiary-15: #302400;
    --color-tertiary-17: #352901;
    --color-tertiary-20: #3c2f04;
    --color-tertiary-22: #403308;
    --color-tertiary-25: #473a0f;
    --color-tertiary-30: #544519;
    --color-tertiary-35: #605124;
    --color-tertiary-40: #6d5d2e;
    --color-tertiary-50: #877644;
    --color-tertiary-60: #a28f5c;
    --color-tertiary-70: #bdaa74;
    --color-tertiary-80: #dac58d;
    --color-tertiary-90: #f7e1a6;
    --color-tertiary-92: #fde7ab;
    --color-tertiary-94: #ffecbe;
    --color-tertiary-95: #fff0cb;
    --color-tertiary-96: #fff2d8;
    --color-tertiary-98: #fff8f0;
    --color-tertiary-99: #fffbff;
    --color-tertiary-100: #ffffff;

    --color-neutral-0: #000000;
    --color-neutral-4: #120d0c;
    --color-neutral-5: #15100e;
    --color-neutral-6: #181211;
    --color-neutral-10: #201a19;
    --color-neutral-12: #251e1d;
    --color-neutral-15: #2b2423;
    --color-neutral-17: #2f2827;
    --color-neutral-20: #362f2d;
    --color-neutral-22: #3b3331;
    --color-neutral-25: #413a38;
    --color-neutral-30: #4d4543;
    --color-neutral-35: #59514f;
    --color-neutral-40: #655c5a;
    --color-neutral-50: #7f7573;
    --color-neutral-60: #998e8c;
    --color-neutral-70: #b4a9a6;
    --color-neutral-80: #d0c4c1;
    --color-neutral-90: #ede0dd;
    --color-neutral-92: #f3e5e2;
    --color-neutral-94: #f8ebe8;
    --color-neutral-95: #fbeeeb;
    --color-neutral-96: #fef1ee;
    --color-neutral-98: #fff8f6;
    --color-neutral-99: #fffbff;
    --color-neutral-100: #ffffff;

    --color-neutral-variant-0: #000000;
    --color-neutral-variant-4: #160c09;
    --color-neutral-variant-5: #190e0b;
    --color-neutral-variant-6: #1c110e;
    --color-neutral-variant-10: #251916;
    --color-neutral-variant-12: #291d1a;
    --color-neutral-variant-15: #302320;
    --color-neutral-variant-17: #342724;
    --color-neutral-variant-20: #3b2d2a;
    --color-neutral-variant-22: #40312e;
    --color-neutral-variant-25: #473834;
    --color-neutral-variant-30: #534340;
    --color-neutral-variant-35: #5f4f4b;
    --color-neutral-variant-40: #6c5b57;
    --color-neutral-variant-50: #85736f;
    --color-neutral-variant-60: #a08c88;
    --color-neutral-variant-70: #bca7a2;
    --color-neutral-variant-80: #d8c2bd;
    --color-neutral-variant-90: #f5ddd8;
    --color-neutral-variant-92: #fbe3de;
    --color-neutral-variant-94: #ffe9e4;
    --color-neutral-variant-95: #ffede9;
    --color-neutral-variant-96: #fff1ed;
    --color-neutral-variant-98: #fff8f6;
    --color-neutral-variant-99: #fffbff;
    --color-neutral-variant-100: #ffffff;

    --color-error-0: #000000;
    --color-error-4: #280001;
    --color-error-5: #2d0001;
    --color-error-6: #310001;
    --color-error-10: #410002;
    --color-error-12: #490002;
    --color-error-15: #540003;
    --color-error-17: #5c0004;
    --color-error-20: #690005;
    --color-error-22: #710005;
    --color-error-25: #7e0007;
    --color-error-30: #93000a;
    --color-error-35: #a80710;
    --color-error-40: #ba1a1a;
    --color-error-50: #de3730;
    --color-error-60: #ff5449;
    --color-error-70: #ff897d;
    --color-error-80: #ffb4ab;
    --color-error-90: #ffdad6;
    --color-error-92: #ffe2de;
    --color-error-94: #ffe9e6;
    --color-error-95: #ffedea;
    --color-error-96: #fff0ee;
    --color-error-98: #fff8f7;
    --color-error-99: #fffbff;
    --color-error-100: #ffffff;
}
