@import "./lib/style/imports.css";
@import "tailwindcss";
@import "./lib/style/index.css";

@theme {
    --color-primary-0: #000000;
    --color-primary-4: #170c00;
    --color-primary-5: #1b0e00;
    --color-primary-6: #1e1000;
    --color-primary-10: #291800;
    --color-primary-12: #2f1c00;
    --color-primary-15: #372100;
    --color-primary-17: #3c2500;
    --color-primary-20: #452b00;
    --color-primary-22: #4b2f00;
    --color-primary-25: #543500;
    --color-primary-30: #633f00;
    --color-primary-35: #724a00;
    --color-primary-40: #825500;
    --color-primary-50: #a36b00;
    --color-primary-60: #c68300;
    --color-primary-70: #e99b00;
    --color-primary-80: #ffb952;
    --color-primary-90: #ffddb4;
    --color-primary-92: #ffe4c4;
    --color-primary-94: #ffebd4;
    --color-primary-95: #ffeedc;
    --color-primary-96: #fff1e4;
    --color-primary-98: #fff8f4;
    --color-primary-99: #fffbff;
    --color-primary-100: #ffffff;

    --color-secondary-0: #000000;
    --color-secondary-4: #170c00;
    --color-secondary-5: #1b0e00;
    --color-secondary-6: #1e1101;
    --color-secondary-10: #271904;
    --color-secondary-12: #2c1d07;
    --color-secondary-15: #32230d;
    --color-secondary-17: #372710;
    --color-secondary-20: #3e2d16;
    --color-secondary-22: #43321a;
    --color-secondary-25: #4a3820;
    --color-secondary-30: #56442a;
    --color-secondary-35: #634f35;
    --color-secondary-40: #705b40;
    --color-secondary-50: #8a7357;
    --color-secondary-60: #a58d6f;
    --color-secondary-70: #c1a788;
    --color-secondary-80: #ddc2a1;
    --color-secondary-90: #fbdebc;
    --color-secondary-92: #ffe4c4;
    --color-secondary-94: #ffebd4;
    --color-secondary-95: #ffeedc;
    --color-secondary-96: #fff1e4;
    --color-secondary-98: #fff8f4;
    --color-secondary-99: #fffbff;
    --color-secondary-100: #ffffff;

    --color-tertiary-0: #000000;
    --color-tertiary-4: #051100;
    --color-tertiary-5: #071400;
    --color-tertiary-6: #081700;
    --color-tertiary-10: #102003;
    --color-tertiary-12: #142406;
    --color-tertiary-15: #1a2a0b;
    --color-tertiary-17: #1e2e0f;
    --color-tertiary-20: #253515;
    --color-tertiary-22: #293a19;
    --color-tertiary-25: #2f401f;
    --color-tertiary-30: #3a4c2a;
    --color-tertiary-35: #465834;
    --color-tertiary-40: #52643f;
    --color-tertiary-50: #6a7d56;
    --color-tertiary-60: #83976e;
    --color-tertiary-70: #9db287;
    --color-tertiary-80: #b8cda1;
    --color-tertiary-90: #d4eabb;
    --color-tertiary-92: #daefc0;
    --color-tertiary-94: #e0f5c6;
    --color-tertiary-95: #e2f8c9;
    --color-tertiary-96: #e5fbcb;
    --color-tertiary-98: #efffda;
    --color-tertiary-99: #f8ffea;
    --color-tertiary-100: #ffffff;

    --color-neutral-0: #000000;
    --color-neutral-4: #110e09;
    --color-neutral-5: #14100c;
    --color-neutral-6: #17130e;
    --color-neutral-10: #1f1b16;
    --color-neutral-12: #231f1a;
    --color-neutral-15: #2a2520;
    --color-neutral-17: #2e2924;
    --color-neutral-20: #34302a;
    --color-neutral-22: #39342e;
    --color-neutral-25: #403b35;
    --color-neutral-30: #4b4640;
    --color-neutral-35: #57514b;
    --color-neutral-40: #645d57;
    --color-neutral-50: #7d766f;
    --color-neutral-60: #978f88;
    --color-neutral-70: #b2aaa2;
    --color-neutral-80: #cec5bd;
    --color-neutral-90: #eae1d9;
    --color-neutral-92: #f0e6de;
    --color-neutral-94: #f6ece4;
    --color-neutral-95: #f9efe7;
    --color-neutral-96: #fcf2ea;
    --color-neutral-98: #fff8f4;
    --color-neutral-99: #fffbff;
    --color-neutral-100: #ffffff;

    --color-neutral-variant-0: #000000;
    --color-neutral-variant-4: #140d05;
    --color-neutral-variant-5: #171007;
    --color-neutral-variant-6: #191209;
    --color-neutral-variant-10: #221a10;
    --color-neutral-variant-12: #261e14;
    --color-neutral-variant-15: #2d241a;
    --color-neutral-variant-17: #31291e;
    --color-neutral-variant-20: #382f24;
    --color-neutral-variant-22: #3c3328;
    --color-neutral-variant-25: #433a2e;
    --color-neutral-variant-30: #4f4539;
    --color-neutral-variant-35: #5b5144;
    --color-neutral-variant-40: #685d50;
    --color-neutral-variant-50: #817567;
    --color-neutral-variant-60: #9c8f80;
    --color-neutral-variant-70: #b7a99a;
    --color-neutral-variant-80: #d3c4b4;
    --color-neutral-variant-90: #f0e0cf;
    --color-neutral-variant-92: #f6e6d5;
    --color-neutral-variant-94: #fcebdb;
    --color-neutral-variant-95: #feeedd;
    --color-neutral-variant-96: #fff1e4;
    --color-neutral-variant-98: #fff8f4;
    --color-neutral-variant-99: #fffbff;
    --color-neutral-variant-100: #ffffff;

    --color-error-0: #000000;
    --color-error-4: #280001;
    --color-error-5: #2d0001;
    --color-error-6: #310001;
    --color-error-10: #410002;
    --color-error-12: #490002;
    --color-error-15: #540003;
    --color-error-17: #5c0004;
    --color-error-20: #690005;
    --color-error-22: #710005;
    --color-error-25: #7e0007;
    --color-error-30: #93000a;
    --color-error-35: #a80710;
    --color-error-40: #ba1a1a;
    --color-error-50: #de3730;
    --color-error-60: #ff5449;
    --color-error-70: #ff897d;
    --color-error-80: #ffb4ab;
    --color-error-90: #ffdad6;
    --color-error-92: #ffe2de;
    --color-error-94: #ffe9e6;
    --color-error-95: #ffedea;
    --color-error-96: #fff0ee;
    --color-error-98: #fff8f7;
    --color-error-99: #fffbff;
    --color-error-100: #ffffff;
}
